<%- include("../partials/header") %>

<div class="container">
	<div class="row">
		<div class="col-md-3">
			<p class="lead">
				VCSB
			</p>
			<div class="list-group">
				<li class="list-group-item"><a href="https://www.northwestskater.com/">More Info</a></li>
				<li class="list-group-item"><a href="/skateparks">Back To Skateparks</a></li>
			</div>
			<!-- map -->
		</div>
		<div class="col-md-9">
			<div class="img-thumbnail">
				<img src="<%=skatepark.image%>" class="image-fluid">
				<div class="caption-full">
					<h4><a><%=skatepark.name%></a></h4>
					<p><%=skatepark.description%></p>
					<p>
						<em>Submitted by: <%=skatepark.author.username%></em>
					</p>
					<% if(currentUser && skatepark.author.id.equals(currentUser._id)){ %>
						<a class="btn btn-warning" href="/skateparks/<%= skatepark._id%>/edit">Edit Post</a>
						<form id="delete-post" action="/skateparks/<%= skatepark._id%>?_method=DELETE" method="POST">
							<button class="btn btn-danger">Delete</button>
						</form>
					<%	} %>
					
				</div>
			</div>
			<div class="card card-body bg-light">
				<div class="text-right">
					<a class="btn btn-success" href="/skateparks/<%=skatepark._id%>/comments/new">Add New Comment</a>
				</div>
				<hr>
				<% skatepark.comments.forEach(function(comment){ %>
				<div class="row">
					<div class=col-md-12>
						<strong><%=comment.author.username%></strong>
						<!-- <span class="float-right">10 days ago</span> -->
						<p>
							<%=comment.text%>
						</p>
					<% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
						<a class="btn btn-sm btn-warning" href="/skateparks/<%=skatepark._id%>/comments/<%=comment._id%>/edit">
						   Edit
						</a>
						<form class="delete-comment" 
							  action="/skateparks/<%=skatepark._id%>/comments/<%=comment._id%>?_method=DELETE" 							  						  method="POST">
					    <input type="submit" class="btn btn-sm btn-danger" value="Delete">
						</form>
					<%	} %>
					</div>	
				</div>
				<% }); %>
			</div>
		</div>
	</div>
</div>





<a href="/skateparks">View all skateparks!</a>



<%- include("../partials/footer") %>
